.copyright {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 151px;
  margin: 0 auto;
  padding: 0;
  .text-align-center;
  .list-style-none;
}

.copyright__text {
  margin: 7px 0px 0 11px;
  padding-right: 14px;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
}

.copyright__svg {
  margin-top: 3px;
}

.copyright__svg--color {
  color: #000000;
}

.copyright__logo-img:hover .copyright__svg--color {
  color: #81b3d2;
}

.copyright__logo-img:active .copyright__svg--color {
  color: #b2b2b2;
}

@media (min-width: @tablet-width) {
  .copyright {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 139px;
    margin: 0;
  }

  .copyright__text {
    margin-top: 9px;
  }

  .copyright__link {
    margin-top: 7px;
  }
}

@media (min-width: @desktop-width) {
  .copyright__svg {
    margin-top: 0;
    margin-left: -3px;
  }

}
