.features {
  width: 320px;
  margin: 0 auto;
}

.features__wrapper {
  margin: 0 auto;
}

.features__header {
  margin: 0 20px;
  padding: 38px 0 0 0;
  .bg-color-white;
}

.features__slogan {
  margin: 0;
  padding: 0 10px 27px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  .text-align-center;
}

.features__intro {
  margin: 0;
  padding: 0 14px;
  font-size: 14px;
  line-height: 26px;
  .text-align-center;
}

.features__list {
  display: flex;
  flex-direction: column;
  .indents-none;
  .list-style-none;
}

.features__item {
  .text-align-center;
}

.features__description {
  margin: 0;
  padding: 0 20px;
  line-height: 21px;
}

.features__description--gray {
  margin: 0 20px;
  padding: 0 11px 27px;
}

.features__title {
  .indents-none;
  margin-bottom: 9px;
  font-size: 18px;
  line-height: 26px;
}

.features__title--white,
.features__description--white {
  color: @white;
}

.features__item-block--blue {
  padding: 39px 0;
  margin: 0;
  background-color: #81b3d2;
}

.features__item-block--triangle {
  padding-top: 81px;
  padding-bottom: 40px;
  background: #81b3d2 url("../img/bg-triangle.svg") no-repeat left 0 top -2px;
}


.features__img {
  width: 320px;
  height: 260px;
  .indents-none;
  background-color: @blue;
}

.features__img img {
  height: 100%;
  width: 100%;
}

.features__item--gray {
  padding: 27px 0 0 0;
  .bg-color-gray;
}

.features__item--gray:not(:last-child).features__item--gray::after {
  content: "";
  display: block;
  width: 280px;
  height: 2px;
  margin: 0 20px;
  background-color: #d6d6d6;
}


.features__title--number {
  position: relative;
  padding-top: 0;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 200;
}

.features__title--number::before {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 2px;
  top: 10px;
  left: 136px;
  background-color: @white;
}

.features__title--number::after {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 2px;
  top: 10px;
  left: 176px;
  background-color: @white;
}

.features__item--gray .features__title--number::before {
  background-color: @gray;
}

.features__item--gray .features__title--number::after {
  background-color: @gray;
}

.features__list--facilities {
  padding-top: 25px;
  padding-bottom: 37px;
}

.features__item--facilities {
  display: flex;
  text-align: left;
  margin-bottom: 18px;
}

.features__item--facilities:last-child {
  margin-bottom: 0;
}

.features__icon {
  order: -1;
  margin-right: 11px;
}

.features__title-facilities {
  align-self: center;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 14px;
}

.features__description--plus {
  padding: 0 34px 0 0;
}

.features__svg--color {
  margin-left: 22px;
  color: #81b3d2;
}

.features__icon--food {
  margin-top: 3px;
  margin-left: -1px;
}

@media (min-width: @tablet-width) {
  .features {
    display: flex;
    width: 768px;
    margin: 0 auto;
  }

  .features__wrapper {
    width: 768px;
  }

  .features__header {
    margin: 12px 100px 49px;
  }

  .features__slogan {
    font-size: 21px;
    line-height: 26px;
    padding: 0 20px 28px;
  }

  .features__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .list-style-none;
    .indents-none;
  }

  .features__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .indents-none;
    .text-align-center;
  }

  .features__list--facilities {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 60px 0 61px;
  }

  .features__list--facilities li:nth-child(2) {
    order: 1;
  }

  .features__item--facilities {
    display: flex;
    flex-direction: column-reverse;
    width: 256px;
  }

  .features__item-block {
    padding: 25px 0;
  }

  .features__icon {
    order: 0;
    margin: 0;
    padding: 0;
  }

  .features__icon svg {
    width: 76px;
    height: 74px;
  }

  .features__svg--color {
    margin-left: 0;
  }

  .features__item-block--facilities {
    display: flex;
    flex-direction: column;
    padding: 20px 0 0;
  }

  .features__item-block--blue {
    width: 256px;
  }

  .features__item-block--triangle {
    background: #81b3d2;
  }

  .features__title {
    padding: 0 57px;
    margin: 0;
    font-size: 21px;
    line-height: 26px;
  }

  .features__title--white {
    .text-align-center;
    padding: 21px 30px 0;
    margin-bottom: 10px;
  }

  .features__description {
    width: 165px;
    margin: 0 auto;
    padding: 30px 0 0;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 21px;
  }

  .features__description--plus {
    width: 165px;
    margin: 0 auto;
    padding: 20px 0 0;
  }

  .features__description--white {
    padding-top: 21px;
  }

  .features__description--gray {
    padding-top: 21px;
    .bg-color-gray;
  }

  .features__img {
    width: 512px;
    height: 260px;
  }

  .features__img img {
    height: 100%;
    width: 100%;
  }

  .features__img--bridge {
    order: -1;
  }

  .features__item--gray {
    display: flex;
    flex-direction: column;
    width: 256px;
    text-align: center;
    padding: 45px 0;
    border-bottom: 0;
  }

  .features__title--number {
    margin-bottom: 0;
    padding-top: 0;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
  }

  .features__item--gray .features__title--number {
    padding-top: 10px;
  }

  .features__item--gray:not(:last-child).features__item--gray::after {
    display: none;
  }

  .features__title--number::before {
    left: 100px;
  }

  .features__title--number::after {
    left: 144px;
  }

  .features__item--gray .features__title--number::before {
    top: 19px;
    left: 100px;
  }

  .features__item--gray .features__title--number::after {
    top: 19px;
    left: 144px;
  }
}

@media (min-width: @desktop-width) {
  .features {
    width: 1200px;
  }

  .features__wrapper {
    width: 1200px;
  }

  .features__header {
    margin: 49px 300px;
    padding: 0;
  }

  .features__slogan {
    padding: 0 35px 27px;
  }

  .features__item-block--blue {
    width: 400px;
    padding: 53px 0 0;
    height: 203px;
  }

  .features__title--white {
    padding: 0 96px;
  }

  .features__title--number {
    padding-top: 0;
  }

  .features__img {
    width: 800px;
    height: 256px;
  }

  .features__list--facilities {
    padding: 60px 0 82px;
  }

  .features__item--facilities {
    width: 400px;
  }

  .features__description {
    width: 270px;
  }

  .features__item--gray:nth-child(2) .features__description--gray {
    width: 285px;
  }

  .features__description--plus {
    width: 300px;
    margin: 0 auto;
    padding: 20px 0 0;
  }

  .features__item--gray {
    width: 400px;
    padding: 46px 0 65px;
  }

  .features__item--gray .features__title {
    padding: 0 121px;
  }

  .features__item--gray .features__title--number {
    padding: 10px 57px 0;
  }

  .features__title--number::before {
    left: 174px;
  }

  .features__title--number::after {
    left: 214px;
  }

  .features__item--gray .features__title--number::before {
    left: 176px;
  }

  .features__item--gray .features__title--number::after {
    left: 213px;
  }
}
