.features {
  width: 320px;
  margin: 0 auto;
}

.features__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.features__header {
  .bg-color-white;
  padding: 45px 0;
}

.features__slogan {
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  .text-align-center;
}

.features__intro {
  font-size: 14px;
  line-height: 26px;
  .text-align-center;
}

.features__list {
  display: flex;
  flex-direction: column;
  .list-style-none;
  .indents-none;
}

.features__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .indents-none;
  .text-align-center;
}

.features__title--white,
.features__description--white {
  color: @white;
}

.features__item-blue {
  /*padding: 45px 0;*/
  margin: 0;
  .bg-color-blue;
}

.features__item-block {
  padding: 45px 0;
}

.features__city-img {
  min-height: 262px;
  background-image: url("../img/main-city-mobile@1x.jpg");
}

.features__item--gray {
  padding: 33px 0;
  .bg-color-gray;
  border-bottom: 1px solid #d6d6d6;
}

.features__title--number {
  font-size: 14px;
  line-height: 21px;
  font-weight: 200;
}

@media (min-width: @tablet-width) {
  .features {
    display: flex;
    width: 768px;
    margin: 0 auto;
  }

  .features__header {
    margin: 45px 100px;
  }

  .features__list {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
    .list-style-none;
    .indents-none;
  }

  .features__item {
    .indents-none;
    .text-align-center;
  }

  .features__item-blue {
    display: flex;
    flex-direction: row;
  }

  .features__item-block {
    padding: 25px 0;
  }

  .features__title--white {
    font-size: 21px;
    line-height: 26px;
    .text-align-center;
    padding: 0 30px;
  }

  .features__description--white {
    font-size: 14px;
    line-height: 21px;
    .text-align-center;
    padding: 0 25px 0;
  }

  .features__city-img {
    min-height: 256px;
    min-width: 512px;
    background-image: url("../img/main-city-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .features__bridge-img {
    min-height: 257px;
    min-width: 512px;
    order: -1;
    background-image: url("../img/main-bridge-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .features__item--house {
    order: 1;
  }

  .features__item--house,
  .features__item--gift,
  .features__item--food {
    width: 180px;
    text-align: center;
    padding: 20px;
  }

  .features__item--gift {
    margin-right: 0;
  }

  .features__title--house,
  .features__title--gift,
  .features__title--food {
    font-size: 21px;
    line-height: 26px;
    .text-align-center;
    padding: 0 30px;
  }

  .features__item--gray {
    width: 160px;
    text-align: center;
    padding: 0 48px;
    border-bottom: 0;
  }

  .features__description--gray {
    font-size: 14px;
    line-height: 21px;
    .text-align-center;
    .bg-color-gray;
  }
}

@media (min-width: @desktop-width) {
  .features {
    width: 1200px;
  }

  .features__header {
    margin: 55px 300px;
  }

  .features__item-blue {
    display: flex;
    flex-direction: row;
  }

  .features__city-img {
    min-height: 260px;
    min-width: 800px;
    background-image: url("../img/main-city-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .features__bridge-img {
    min-height: 260px;
    min-width: 800px;
    order: -1;
    background-image: url("../img/main-bridge-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .features__item--house,
  .features__item--gift,
  .features__item--food {
    padding: 60px;
  }

  .features__item--gray {
    width: 280px;
    padding: 60px 60px;
  }
}
