.feedback {
  width: 320px;
  margin: 0 auto 37px;
}

.feedback__wrapper {
  .text-align-center;
}

.feedback__map {
  position: relative;
  margin: 0 auto;
  width: 320px;
  height: 350px;
}

/*.feedback__map-pin {
  position: absolute;
  top: 46%;
  left: 56%;
  width: 29px;
  height: 29px;
  border: 9px solid @white;
  border-radius: 50% 50% 50% 50%;
  .bg-color-blue;
}*/

.feedback__map-pin {
  position: absolute;
  top: 46%;
  left: 57%;
  width: 30px;
  height: 30px;
  background-image: url(../img/icon-map-marker.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.feedback__map-box iframe {
  bottom: -23px;
  width: 100%;
  text-align: center;
}

.feedback__search {
  margin: 28px 0 48px;
}

@media (min-width: @tablet-width) {
  .feedback {
    width: 768px;
    margin: 0 auto;
  }

  .feedback__map {
    position: relative;
    margin: 0 auto;
    width: 768px;
    height: 350px;
  }

  .feedback__map-pin {
    position: absolute;
    top: 47%;
    left: 53%;
  }

  .feedback__map-box iframe {
    bottom: -23px;
    width: 100%;
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .feedback {
    min-width: 1200px;
    margin: 0 auto;
  }
  .feedback__map {
    position: relative;
    margin: 0 auto;
    width: 1200px;
  }

  .feedback__map-pin {
    position: absolute;
    top: 47%;
    left: 52%;
  }

  .feedback__map-box iframe {
    bottom: -23px;
    width: 100%;
    text-align: center;
  }

  .feedback__map-box {
    margin: 0;
  }
}
