.logo {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 320px;
  height: 390px;
  padding-top: 58px;
  background-color: #ffffff;
  background-image:
  url("../img/bg-intro-triangle-mobile.svg"),
  url("../img/text-sedona-index.svg"),
  url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 323px,280px,auto;
  background-position: left 50% bottom 1px, left 21px top 147px, left -222px bottom 3px;
  background-clip: content-box;
}

.logo__link {
  width: 104px;
  height: 84px;
  position: relative;
  top: -58px;
  left: 35%;
}

.logo--small-bg {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 56px;
  width: 320px;
  height: 160px;
  background-color: #99979a;
  background-image:
  url("../img/bg-intro-triangle-mobile.svg"),
  url("../img/text-sedona.svg"),
  url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 338px,230px,auto;
  background-position: left 50% bottom 0, left 50% top 60%, left 50% bottom 0;
  background-clip: content-box;
}

.logo__link--small-bg {
  width: 104px;
  height: 84px;
  position: relative;
  top: -35%;
  left: 34%;
}

@media (min-width: @tablet-width) {
  .logo {
    width: 768px;
    height: 518px;
    padding-top: 0;
    background-image:
    url("../img/bg-intro-triangle-tablet.svg"),
    url("../img/text-sedona-index.svg"),
    url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: auto,auto,cover;
    background-position: left 50% bottom 0,left 154px bottom 91px,left 0 top 0;
    @media(min-resolution:@retina-dpi), (min-resolution:@retina-dppx){
      background-image:
      url("../img/bg-intro-triangle-tablet.svg"),
      url("../img/text-sedona-index.svg"),
      url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .logo__link img {
    width: 102px;
    height: 82px;
  }

  .logo__link {
    width: 102px;
    height: 82px;
    position: absolute;
    top: 0;
    left: 45%;
  }

  .logo--small-bg {
    min-width: 768px;
    height: 290px;
    padding-top: 0;
    background-image:
    url("../img/bg-intro-triangle-tablet.svg"),
    url("../img/text-sedona.svg"),
    url("../img/bg-back-tablet@1x.jpg");
    background-size: 768px,460px,auto;
    background-repeat: no-repeat;
    background-position: left 0 bottom 0,left 50% bottom 55%,left 0 bottom 0;
    @media(min-resolution:@retina-dpi), (min-resolution:@retina-dppx){
      background-image:
      url("../img/bg-intro-triangle-tablet.svg"),
      url("../img/text-sedona.svg"),
      url("../img/bg-back-tablet@1x.jpg");
    }
  }
}

@media (min-width: @desktop-width) {
  .logo {
    min-width: 1200px;
    min-height: 520px;
    padding-top: 0;
    background-image:
    url("../img/bg-intro-triangle-desktop.svg"),
    url("../img/text-sedona-index.svg"),
    url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: 1203px, auto, cover;
    background-position: left 50% bottom 0,left 50% bottom 53%,left 0 top 0;
    @media(min-resolution:@retina-dpi), (min-resolution:@retina-dppx){
      background-image:
      url("../img/bg-intro-triangle-desktop.svg"),
      url("../img/text-sedona-index.svg"),
      url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .logo__link img {
    width: 187px;
    height: 96px;
  }

  .logo__link {
    width: 187px;
    height: 96px;
    position: absolute;
    top: 0;
    left: 43%;
  }

  .logo--small-bg {
    min-width: 1200px;
    min-height: 300px;
    padding-top: 0;
    background-image:
    url("../img/bg-intro-triangle-desktop.svg"),
    url("../img/text-sedona.svg"),
    url("../img/bg-back-desktop@1x.jpg");
    background-size: 1203px,auto,cover;
    background-repeat: no-repeat;
    background-position: left 50% bottom 0,left 50% bottom 53%,left 0 bottom 0;
    @media(min-resolution:@retina-dpi), (min-resolution:@retina-dppx) {
      background-image:
      url("../img/bg-intro-triangle-desktop.svg"),
      url("../img/text-sedona.svg"),
      url("../img/bg-back-desktop@1x.jpg");
    }
  }
}
