.logo {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 320px;
  height: 450px;
  background-image:
  url("../img/bg-intro-triangle-mobile.svg"),
  url("../img/text-sedona-index.svg"),
  url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 320px,280px,auto;
  background-position: left 0 bottom 3px, left 21px top 147px, left -217px bottom 3px;
}

.logo__link {
  .text-align-center;
}

@media (min-width: @tablet-width) {
  .logo {
    width: 768px;
    height: 520px;
    background-image:
    url("../img/bg-intro-triangle-tablet.svg"),
    url("../img/text-sedona-index.svg"),
    url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: 768px,460px,auto;
    background-position: left 0 bottom 0px,left 166px bottom 92px,left 0 top 0;
  }

  .logo__link {
    width: 104px;
    height: 84px;
    position: absolute;
    top: 0;
    left: 43%;
    background-image: url(../img/logo-sedona-tablet.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .logo__image {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .logo {
    min-width: 1200px;
    min-height: 520px;
    background-image:
    url("../img/bg-intro-triangle-desktop.svg"),
    url("../img/text-sedona-index.svg"),
    url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: 1200px, auto;
    background-position: left 0 bottom 0px,50%,left 0 top 0;
  }

  .logo__link {
    width: 186px;
    height: 96px;
    position: absolute;
    top: 0;
    left: 43%;
    background-image: url(../img/logo-sedona-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .logo__image {
    display: none;
  }
}
