.logo-photo {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 60px;
  width: 320px;
  height: 160px;
  background-image:
  url("../img/bg-intro-triangle-mobile.svg"),
  url("../img/text-sedona.svg"),
  url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 320px,230px,auto;
  background-position: left 0% bottom 0, left 64% top 63%, left 47% bottom 0;
  background-clip: content-box;
}

.logo-photo__link {
  width: 104px;
  height: 84px;
  position: relative;
  top: -38%;
  left: 37%;
  /*.text-align-center;*/
}

@media (min-width: @tablet-width) {
  .logo-photo {
    min-width: 768px;
    min-height: 290px;
    padding-top: 0;
    background-image:
    url("../img/bg-intro-triangle-tablet.svg"),
    url("../img/text-sedona.svg"),
    url("../img/bg-back-tablet@1x.jpg");
    background-size: 768px,460px,auto;
    background-repeat: no-repeat;
    background-position: left 0 bottom 0,left 50% bottom 50%,left 0 bottom 0;
  }

  .logo-photo__link {
    width: 104px;
    height: 84px;
    position: absolute;
    top: 0;
    left: 43%;
    background-image: url(../img/logo-sedona-tablet.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

}

@media (min-width: @desktop-width) {
  .logo-photo {
    min-width: 1200px;
    min-height: 522px;
    background-image: url("../img/text-sedona.svg"), url("../img/bg-back-desktop@1x.jpg");
    background-size: 465px, cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}
