.video {
  width: 320px;
  margin: 0 auto 60px;
}

.video__wrapper {
  .text-align-center;
}

.video__head-question {
  margin: 0;
  padding-top: 40px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: @black;
}

.video__description {
  margin: 0;
  padding: 30px 20px 44px;
}

.video__player-block {
  width: auto;
  height: 270px;

}

.video__player {
  width: 320px;
  height: 201px;
  margin: 0 auto;
  border: none;
  background: url(../img/video-mobile@1x.jpg) no-repeat;
  background-size: auto;
}

.video__controls-block {
  position: relative;
  bottom: 20%;
  width: 280px;
  height: 112px;
  margin: 0 20px;
}

.video__play-bar {
  width: 280px;
  height: 46px;
  background-color: rgba(0,0,0, 0.5);
}

.video__play-progress {
  /*position: absolute;*/
  width: 240px;
  height: 3px;
  margin: 22px;
  background-color: rgba(255,255,255, 0.5);
}

.video__range {
  position: absolute;
  top: 17%;
  left: 22%;
  width: 10px;
  height: 10px;
  margin: 0 auto;
  border-radius: 50% 50% 50% 50%;
  border: none;
  background-color: @white;
}

.video__buttons-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 66px;
  padding: 0 25px;
  background-color: #f2f2f2;
}

.video__btn {
  height: 20px;
  border: none;
  background-color: inherit;
}

.video__btn--replay {
  width: 16px;
  /*background: url(../img/icon-video-replay.svg) no-repeat;*/
  background: #5c6870;
  mask-image: url(../img/icon-video-replay.svg);
}

.video__btn--subtitles {
  width: 32px;
  margin-left: 130px;
  margin-right: 32px;
  background: #5c6870;
  mask-image: url(../img/icon-video-subtitles.svg);
}

.video__btn--fullscreen {
  width: 20px;
  /*background: url(../img/icon-video-replay.svg) no-repeat;*/
  background: #5c6870;
  mask-image: url(../img/icon-video-fullscreen.svg);
}

@media (min-width: @tablet-width) {
  .video {
    width: 768px;
    margin: 0 auto;
    padding-bottom: 37px;
  }

  .video__wrapper {
    margin: 0 60px;
    .text-align-center;
  }

  .video__head-question {
    padding: 70px 0 40px;
    font-size: 30px;
  }

  .video__description {
    padding: 0 104px 81px;
  }

  .video__player-block {
    width: auto;
    height: 500px;
  }

  .video__player {
    width: 650px;
    height: 499px;
    margin: 0 auto;
    border: none;
    background: url(../img/video-tablet@1x.jpg) no-repeat;
    background-size: auto;
  }

  .video__controls-block {
    margin: 0;
  }

  .video__play-bar {
    width: 648px;
    height: 94px;
    background-color: rgba(0,0,0, 0.5);
  }

  .video__play-progress {
    /*position: absolute;*/
    width: 392px;
    height: 3px;
    margin: 45px 162px 45px 91px;
    background-color: rgba(255,255,255, 0.5);
  }

  .video__range {
    top: 37%;
    left: 69%;
  }

  .video__buttons-block {
    position: relative;
    bottom: 74%;
    padding: 0 35px;
    width: 578px;
    background: none;
  }

  .video__btn--subtitles {
    margin-left: 474px;
    background-color: @white;
  }

  .video__btn--replay,
  .video__btn--fullscreen {
    background-color: @white;
  }

}
